<h1>Personajes de Harry Potter</h1>

<ul>
  <% @characters.each do |character| %>
    <li>
      <strong>Nombre:</strong> <%= character.name %><br>
      <strong>Locación:</strong> <%= character.location %><br>
      <strong>Casa:</strong> <%= character.house %>
    </li>
  <% end %>
</ul>
